        body {
            margin: 0;
            font-family: 'Segoe UI', sans-serif;
            background: radial-gradient(circle at center, #1a1a1a, #000);
            color: #eaeaea;
        }

        h2 {
            text-align: center;
            color: #ffcc00;
            margin-bottom: 18px;
            text-shadow: 0 0 12px #000;
        }

        .banner {
            width: 100%;
            height: 340px;
            background-image: url('cs.png');
            background-size: cover;
            background-position: center;
            filter: brightness(0.72);
        }

        .xx {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }

        .xx h1 {
            font-size: 52px;
            font-weight: 700;
            color: #ffcc00;
            text-shadow: 0 0 18px #000;
        }

        .xx p {
            font-size: 22px;
            color: #fff;
            opacity: 0.9;
            margin-top: 8px;
        }

        #x {
            max-width: 1000px;
            margin: auto;
            padding: 25px;
        }

        nav {
            background: rgba(255, 200, 0, 0.1);
            border: 1px solid #ffcc00;
            padding: 14px;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            gap: 40px;
            backdrop-filter: blur(4px);
            margin: 25px 0 35px 0;
        }

        nav a {
            color: #ffcc00;
            font-size: 20px;
            text-decoration: none;
            font-weight: 600;
            transition: 0.3s;
        }

        nav a:hover {
            color: white;
            text-shadow: 0 0 14px #ffcc00;
            transform: scale(1.08);
        }

        table {
            width: 100%;
            border-collapse: collapse;
            background: rgba(255, 255, 255, 0.05);
            border-radius: 12px;
            overflow: hidden;
            backdrop-filter: blur(6px);
        }

        th, td {
            padding: 16px;
            text-align: center;
        }

        th {
            background: #ffcc00;
            color: #000;
            font-size: 18px;
        }

        tr {
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }

        tr:hover {
            background: rgba(255, 200, 0, 0.25);
            cursor: pointer;
        }


        footer {
            text-align: center;
            padding: 25px;
            margin-top: 50px;
            color: #999;
            font-size: 15px;
        }

        footer span {
            color: #ffcc00;
        }